<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="moneyTransfer">
    <test name="check the transfers">
        <classes>
            <class name="moneyTransfer.Transfers"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->